*{
    font-family: "merriweather", serif;
    margin: 0;
    padding: 0;
}

body {
    text-align: center;
    background-color: black;
    font-size: 20px;
    height: 100vh;
    flex-direction: column;
    display: flex;
    justify-content: center;
}

h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: white;
}

.achievements {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

.achievement-slot {
    width: 500px;
    background-color: #444;
    border-radius: 20px;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
    height: 60px;
    display: flex;
    align-items: center;  /* Center vertically */
    justify-content: center;  /* Center horizontally */
    text-align: center;  /* Ensure multi-line text stays centered */
    padding: 10px;
    margin: 10px;
    flex-direction: column;
}

.achievement-slot:hover {
    height: 100px;
}

.achievement-slot .description {
    opacity: 0;
    max-height: 0;
    transition: opacity 0.3s ease-in-out, max-height 0.3s ease-in-out;
}

.achievement-slot:hover .description {
    opacity: 1;
    max-height: 40px;
    max-height: fit-content;
}


.backToMenu{
    background-color: #444;
    color: white;
    width: 200px;
    padding: 20px 40px;
    border-radius: 20px;
    margin-top: 10px;
}

.backToMenu:hover{
    background-color: #666;
    transition: 0.3s;
}

