/* lead developer - FINTAN MCIVOR */
/* mobile design - CALLUM GILPIN */
html{
    font-size: 16px;
    font-family: "merriweather", serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: white;
    
}

::-webkit-scrollbar {
    width: 6px;
    /* Adjust the width */
}

::-webkit-scrollbar-thumb {
    background-color: rgb(0, 68, 204);
    /* Change the thumb color */
    border-radius: 20px;
    /* Make the thumb rounded */
}

::-webkit-scrollbar-track {
    background-color: transparent;
    /* Track color */
}

body {
    overflow: hidden;
    width: 100vw;
    height: 100vh;
}

header{
    width: 100vw;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(7, 6, 20);
    border-bottom: 1px solid white;
}


/* Settings */

#settingsButton{
    font-size: 2.5rem;
    position: absolute;
    left: 2vw;
    
}

#settingsButton:hover{
    transform: scale(1.1);
}


.slideContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    gap: 20px;
    flex-grow: 0;
}

#slider {
    -webkit-appearance: none;
    max-width: 50%;
    min-width: 50%;
    flex-grow: 0;
    height: 15px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    align-self: center;
}

#slider:hover {
    opacity: 1;
}

#slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: rgb(0, 102, 255);
    cursor: pointer;
}

#slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #04AA6D;
    cursor: pointer;
}

#easyReadCheckBox{
    -webkit-appearance: none;
    position: relative;
    width: 50px;
    height: 30px;
    border-radius: 25px;
    background-color: lightgray;
    transition: background-color .3s;
    outline: none;
    margin:0 auto 0 auto
}

#easyReadCheckBox::after{
    content: '';
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%,-50%);
    border-radius: 50%;
    height: 1.25rem;
    width: 1.25rem;
    background-color: white;
    transition: left .3s;
}

#easyReadCheckBox:checked{
    background-color: green;
}

#easyReadCheckBox:checked::after{
    left: 70%;
}

.sampleTextContainer{
    width: 80%;
    height: 15%;
}


.easyReadContainer{
    width: 100%;
    margin-bottom: 1.2rem;
    display: flex;
    flex-direction: column;
    align-items:center;
    gap: 6px;
}

#savePreferencesBtn{
    padding: 12px 20px;
    font-size: 1.1rem;
    background-color: rgb(0, 68, 204);
    border: none;
    border-radius: 6px;
    cursor: pointer;
    color: white;
    font-weight: bold;
    transition: background 0.3s ease-in-out, transform 0.2s ease-in-out;
    vertical-align: middle;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: inherit;
    width: fit-content;
}

#savePreferencesBtn:hover{
    background-color: #0066ff;
    transform: scale(1.05);
}

#sampleText{
    height: auto;
    text-align: center;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 60%;
    width: 100%;
}




.wrapper {
    display: flex;
    height: 90vh;
    width: 100vw;
}

.rightColumn {
    position: relative;
    flex: 3;
    height: 100%;
    display: flex;
    flex-direction: row;
    background-image: url(../Images/outsideHouse.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%;
    justify-content: center;
    align-items: center;


}

/* Right column tool bar and children styling */

.toolBar {
    display: flex;
    position: absolute;
    height: 90vh;
    width:calc(30vw + 80px);
    right: -30vw;
    min-width: fit-content;
    align-items: flex-start;
    transition: right 1s ease-in-out;
    font-family: "Lugrasimo", cursive;
    z-index: 11;
}

.toolBar ::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.5);
    /* Change the thumb color */
    border-radius: 20px;
    /* Make the thumb rounded */
}

.iconContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 80px;
    
}

.toolBarExpanded {
    right: 0;
}

.toolBarBtn{
    display: block;
    text-align: center;
    color: black;
    margin-bottom: 3vh;
    display: block;
    font-size: 3rem;
    width: 100%;
    height: fit-content;
    border-width: 5px 0 5px 5px;
    border-style: solid;
    border-color: rgb(255, 197, 105);
    border-radius: 20px 0 0 20px;
    background-color: rgb(255, 197, 105);
    transition: color 0.3s ease-in-out;
}

.toolBarIcon {
    display: block;
    text-align: center;
    color: black;
    display: block;
    font-size: 3rem;
    width: 100%;
    height: fit-content;
    border-width: 5px 0 5px 5px;
    border-style: solid;
    border-color: rgb(255, 197, 105);
    border-radius: 20px 0 0 20px;
    background-color: rgb(255, 197, 105);
    transition: color 0.3s ease-in-out;

}


.toolBarIcon:hover {
     color: rgb(228, 140, 68);
}



.hideToolBarButton {
    visibility: hidden;
    opacity: 0;
    transition: opacity 1s ease-in-out, visibility 1s ease-in-out,color 0.3s ease-in-out;
}

.visible {
    visibility: visible;
    opacity: 1;
}


.inventory,
.noteBook {
    width: 30vw;
    height: 100%;
    overflow-y: auto;
    background-image: url(../Images/InventoryBackground.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@keyframes toolBarIconNotification{
    0% {color: #f5c518;}
    20% {color: black;}
    40% {color: #f5c518;}
    60% {color: black;}
    80% {color: #f5c518;}
    100% {color: black;}
}




.displayNoteBook {

    display: flex;
    flex: 1;
}

.displayInventory {
    display: flex;
    flex: 1;
}

#noteBookContentWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 90%;
    width: 90%;
    overflow-y: auto;
    font-family: inherit;
}

#inventoryContentWrapper{
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 90%;
    align-items: center;
    gap: 10%;
    font-family: inherit;
}

.toolBarSectionHeader {
    margin-top: 10%;
    width: fit-content;
    text-align: center;
    color: black;
    font-family: inherit;
}

/* INVENTORY */

.inventoryGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 50% 50%;
    background-color: aliceblue;
    width: 90%;
    height: 40%;
    overflow: auto;
    border-collapse: collapse;
    border: 2px solid black;
}

.inventorySlot {
    border: 2px solid black;
    width: 100%;
    background-color: rgb(228, 140, 68);
    
}


.selectedCollectibleContainer {
    height: 30%;
    width: 90%;
    background-color: pink;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}



.useItemBtnContainer {
    display: flex;
    width: 90%;
    height: 30%;
    justify-content: center;
    align-items: center;
}

#useItemBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 15%;
    min-width: fit-content;
    text-wrap: noWrap;
    padding: 20px;
    border-radius: 30px;
    background-color: rgb(228, 140, 68);
    font-size: 1.2rem;
    color: black;
    overflow: hidden;
    border: none;
}

#useItemBtn:hover {
    color: black;
    background-color: rgb(190, 115, 54);
}

/* NOTEBOOK SECTION */

.notebookSection {
    display: flex;
    flex-direction: column;
    width: 90%;
    height: auto;
    padding: 5%;
    gap: 5%;
    font-family: inherit;
}

.notebookSectionHeader {
    color: black;
}

ul {
    width: 100%;
    list-style: none;
}

li::before{
    content: "\f002";
    font-family: "Font Awesome 6 free";
    font-weight: 900;
    position: absolute;
    left: 0;
    font-size: 1rem;
}

li {
    margin-bottom: 5%;
    color: black;
    position: relative;
    padding-left: 1.3rem;
    
}

#suspectSection {
    border-bottom: 2px solid black;
}

.itemBtn{
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: 8px solid transparent;
}

.itemImg{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.submitEvidenceContainer{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 30%;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
}

#submitEvidenceBtn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 15%;
    min-width: fit-content;
    text-wrap: noWrap;
    padding: 20px;
    border-radius: 30px;
    background-color: rgb(228, 140, 68);
    font-size: 1.2rem;
    color: black;
    overflow: hidden;
    border: none;
}

.submitEvidencePopUp {
    display: none;
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    min-width: 100vw;
    padding: 2rem;
}


.submitEvidencePopUpContent {
    background-color: rgb(10, 10, 40);
    border: 2px solid rgb(51, 51, 102);
    display: flex;
    flex-direction: column;
    padding: 0 2rem;
    border-radius: 1rem;
    text-align: center;
    width: 60%;
    height: 75%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

#suspectSelectTextWrapper {
    display: flex;
    height: 15%;
    align-items: center;
    justify-content: center;
}

#selectImagesWrapper {
    height: 60%;
    display: flex;
    gap:1.5%;
}

.suspectButton {
    flex: 1;
    height: 95%;
    border: rgb(10, 10, 40) 3px solid;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.suspectButton p {
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 1.4rem;
    width: 100%;
    height: 12%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#victorButton {
    background-image: url(../Images/victor.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%;
}
#margaretButton {
    background-image: url(../Images/margaret.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%;
}
#jonathanButton {
    background-image: url(../Images/jonathan.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%;
}

#confirmationWrapper {
    height: 25%;
    display: flex;
    flex-direction: column;
    gap: 7%;
}

#submissionConfirmationText {
    font-size: 1.32rem;
}

.confirmationBtn {
    border: rgb(10, 10, 40) 2px solid;
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: bold;
    width: 40%;
    border-radius: 6px;
    height: 100%;
    min-height: fit-content;
    min-width: fit-content;
    background-color: #0044cc;
    
}

.confirmationBtn:hover{
    border: white solid 2px;
}

.confirmationBtnContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 10%;
    height: 40%;
}

@keyframes noSuspectSelected {
    0% {border: red solid 3px;}
    20% {border: rgb(10, 10, 40) solid 3px;}
    40% {border: red solid 3px;}
    60% {border: rgb(10, 10, 40) solid 3px;}
    80% {border: red solid 3px;}
    100% {border: rgb(10, 10, 40) solid 3px;}
}





/* Game interaction and options styling */

.leftColumn {
    display: flex;
    justify-content: center;
    flex: 2;
    height: 100%;
    background-color: rgb(6, 3, 35);
    align-items: center;
    justify-content: center;
}


/* Game interaction and options styling */

.gameInteractionContainer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(11, 5, 56);
    border: 2vw solid rgb(6, 3, 35);
    gap: 3vh;
}

.divider{
    background-color: white;  
    height: 2px;  
    border-radius: 15px;
    display: flex;
    min-height: 2px;
    width:95%;
}

#promptDivider{
    position: relative;
    left: -1.5%;
    width: 103%;
}

#leftDivider{
    height: 3px;
    flex: 0.01;
}


#roomHeader {
    display: flex;
    text-align: center;
    background-color: rgb(15, 7, 76);
    border-radius: 10px;
    padding: 0.7vh;
    padding-left: 1.5vw;
    width:90%;
    height: 6vh;
    align-items: center;
   
}

.promptWrapper{
    display: flex;
    flex-direction: column;
    background-color: rgb(15, 7, 76);
    border-radius: 10px;
    padding-top: 0.7vh;
    padding-bottom: 0.7vh;
    width:90%;
    height: 57.7%;
    padding: 1.5vh;
    scrollbar-color: white rgb(25, 12, 121);
    scrollbar-width: 100px;
    overflow-y: auto;
    overflow-x: hidden;
    flex: 3;
}

#descriptionParagraph{
    margin-bottom: 1.3vh;
    text-align: left;
    display: flex;
    flex: 1;
}

#responseParagraph{
    margin-top: 1.3vh;
    text-align: justify;
    display: flex;
    flex: 1;

}


.responseContainer {
    height: 40%;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    overflow:hidden;
    display: flex;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 3;
    gap: 3vh;
    margin-top: 3vh;
}


p {
    width: 95%;
}

.buttonContainer {
    display: flex;
    flex-direction: column;
    width: 90%;
    background-color: rgb(15, 7, 76);
    border-radius: 10px;
    padding: 2vh;
    flex: 2;
    margin-bottom: 3vh;
}

.optionButton {

    display: flex;
    background-color: transparent;
    border: none;
    font-size: 1.2rem;
    padding: 0.5vw;
    font-weight: 500;
    height: fit-content;
    font-family: serif;
    text-align: left;
}

.optionButton:hover {
    font-weight: 600;
}
.optionButton:hover p{
    text-decoration: underline;
}



/* MiniGame styles */

.gameContainer{
    width: 70%;
    height: 70%;
    display: none;
}


/* achievement pop up */

.achievementContainer {
    display: flex;
    position: fixed;
    width: 100vw;
    height: 25vh;
    flex-direction: row;
    justify-content: center;
    bottom: -25vh;
    transition: bottom 1s ease-in-out;
    color: white;
}
.achExpanded {
    bottom: 5vh;
}

#achievementBox {
    display: flex;
    flex-direction: column;
    background-color: rgb(15, 7, 76);
    border: white 2px solid;
    width: clamp(400px, 32vw, 32vw);
    border-radius: 15px;
}

#achievementTop {
    display: flex;
    flex-direction: row;
    background-color: rgb(11, 5, 56);
    height: 5vh;
    border-bottom: white 1px solid;
    border-radius: 15px 15px 0 0;
    border-width: 2px;
    border-color: white;
    align-items: center;
}

#achievementIcon {
    width: 9vh;
    height: 9vh;
}

#achContentBox {
    display: flex;
    flex-direction: row;
    gap: 1vh;
    height: 77%;
    align-items: center;
    padding: 1vh;
}

#achName {
    width: 100%;
    text-align: center;
}

#closeAchBtn {
    width: 5vh;
    height: 5vh;
    background-color: darkred;
    border: none;
    border-bottom: white 2px solid;
    border-left: white 2px solid;
    border-radius: 0 15px 0 0;
}

#achFig {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100%;
    justify-content: center;
    align-items: center;
}

#achTextWrapper {
    display: flex;
    height: 100%;
    flex: 3;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.settingsContainer{
    width: 100%;
    height: 100%;
    display: none;
    flex-direction: column;

    align-items: center;
    background-color: rgb(11, 5, 56);
    border: 2vw solid rgb(6, 3, 35);
    gap: 3vh;
}

#settingsHeader{
    display: flex;
    text-align: center;
    background-color: rgb(15, 7, 76);
    border-radius: 10px;
    padding: 0.7vh;
    padding-left: 1.5vw;
    width:90%;
    height: 6vh;
    align-items: center;
    margin-top: 3vh;
}

.settingsContent{
    display: flex;
    flex-direction: column;
    background-color: rgb(15, 7, 76);
    border-radius: 10px;
    padding-top: 0.7vh;
    padding-bottom: 0.7vh;
    width:90%;
    height: 67vh;
    padding: 1.5vh;
    scrollbar-color: white rgb(25, 12, 121);
    scrollbar-width: 100px;
    overflow-y: auto;
    overflow-x: hidden;
    align-items: center;
}





/* mobile responsive design */
#mobileHeader {
    display: none;
}

@media (max-width:650px) {
  
    body{
        height: 100vh;
        background-color: rgb(6, 3, 35);
    }


    header {
        height: 7vh;
        position: absolute;
        z-index: 10;
        top: 0;
    }

    #mobileHeader{
        display: block;
    }
    #desktopHeader{
        visibility: collapse;
        width: 0px;
    }

    .wrapper {
        flex-direction: column-reverse;
        height: 93vh;
        position: absolute;
        top: 7vh;
    }

    .rightColumn {
        display: flex;
        flex-direction: column;
        width: 100vw;
        height: 35%;
        justify-content: flex-end;
        align-items: center;
        flex: 0.7;
    }

    .leftColumn {
        width: 100vw;
        flex:1;
        height: 65%;
    }
    .leftColumnContainer{
        gap: 1vh;
        border: none;
    }

    .gameInteractionContainer {
        gap: 4%;
        padding: 4% 0 6.3vh 0;
    }

    .responseContainer {
        gap: 2vh;
        margin: 0;
        flex: 1;
    }
    #leftDivider {
        display: none;
    }

    #roomHeader {
        display: none;
    }

    .buttonContainer {
        margin-bottom: 0;
        flex: 0.6;
        gap: 7%;
    }

    .toolBar {
        display: flex;
        position: absolute;
        flex-direction: column;
        width: 100%;
        height: 60vh;
        position: fixed;
        transition: bottom 500ms ease-in-out;
        bottom: -54.1vh;
        right: 0;
    }


    .toolBarExpanded {
        bottom: 0vh;
    }


    .iconContainer {
        flex-direction: row;
        width: 100%;
        height: 5.9vh;
        gap: 10%;
        padding: 0 5%;
    }

    .toolBarIcon {
        display: flex;
        justify-content: center;
        color: white;
        font-size: 1.5rem;
        flex: 1;
        text-align: center;
        width: fit-content;
        height: 100%;
        border-width: 5px 5px 0 5px;
        border-radius: 20px 20px 0 0;
        margin: 0;
    }

    .toolBarBtn{
        display: flex;
        justify-content: center;
        color: white;
        font-size: 1.5rem;
        flex: 1;
        text-align: center;
        width: fit-content;
        height: 100%;
        border-width: 5px 5px 5px 5px;
        border-radius: 20px 20px 0 0;
        margin: 0;
    }

    #hideToolBarButton {
        display: flex;
        order: 3;
    }


    .noteBook, .inventory {
        width: 100vw;
        height: 0;
        background-color: green;
        display: flex;
        order: 1;
        overflow: hidden;
        height: 0;
        justify-content: center;
    }

    .displayNoteBook, .displayInventory {
        flex: 1;
        height: 55vh;
    }

    #inventoryContentWrapper{
        justify-content: flex-start;
        gap: 0;
    }

    .inventoryGrid{
        height: 70%;
    }

    .toolBarSectionHeader{
        margin-top: 0;
    }

    .settingsContainer {
        padding-bottom: 6.3vh;
    }

    .settingsContent {
         padding: 1vh;
    }

    form {
        height: 100%;
    }
}

.noTransition {
    transition: none;
}


.hide {
    visibility: collapse;
}
