/* lead developer - FINTAN MCIVOR */
/* mobile design - CALLUM GILPIN */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: white;
}

body{
    overflow: hidden;
}

.wrapper {
    display: flex;
    height: 100vh;
    width: 100vw;
    background-image: url(../Images/outsideHouse.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%;
    justify-content: center;
    align-items: center;
}


.leftColumn {
    display: flex;
    justify-content: center;
    flex: 5;
    height: 90%;

}

.rightColumn {
    position: relative;
    flex: 3;
    height: 90%;

}

/* Right column tool bar and children styling */

.toolBar {
    display: flex;
    position: absolute;
    height: 100%;
    right: 0;
    width: 5vw;
    min-width: fit-content;
    
    align-items: flex-start;
    transition: width 1s ease-in-out;
}

.iconContainer {
    display: flex;
    flex-direction: column;
    align-items: center; 
    height: 100%;
    width: 5vw;
    min-width: fit-content;
}

.toolBarExpanded {
    width: 90%;
}

.toolBarIcon {
    display: block;
    text-align: center;
    color: red; 
    margin-bottom: 3vh;
    display: block;
    font-size: 3em;
    width: 100%;
    height: fit-content;
    border-width: 5px 0 5px 5px;
    border-style: solid;
    border-color: rgb(13, 11, 39);
    border-radius: 20px 0 0 20px;
    background-color: rgb(13, 11, 39);
    
    
}


.toolBarIcon:hover {
    color: rgb(255, 251, 0);
    /* border-color: red; */
}

.hideToolBarButton {
    visibility: hidden;
    opacity: 0;
    transition: opacity 1s ease-in-out, visibility 1s ease-in-out;
}

.visible {
    visibility: visible;
    opacity: 1;
}


.noteBook {
    width: 0;
    height: 100%;
    background-color: rgb(13, 11, 39);
    display: flex;
}

.noteBookExpanded{
    flex: 1;
}

.inventory {
    width: 0;
    height: 100%;
    /* background-color: rgb(13, 11, 39); */
    background-image: url(../Images/InventoryBackground.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
}

.inventoryExpanded{
    flex:1;
}


/* Game interaction and options styling */

.leftColumnContainer {

    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: space-between;
}

.responseContainer {
    height: 50%;
    overflow-y: auto;
    overflow-x: hidden;

}

p {
    width: 95%;
}

.buttonContainer {

    display: flex;
    flex-direction: column;
    width: 100%;
    height: 50%;
    min-height: 50%;
    align-items: center;
    gap: 5%;
    justify-content: center;

}

.optionButton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 10%;
    color: black;
    background-color: red;
    height: 15%;
    border-radius: 30px;
    color: white;
}

.optionButton:hover {
    background-color: rgb(255, 251, 0);
    color: black;
}




/* mobile responsive design */

@media (max-width:650px) {
    .wrapper{
        flex-direction: column;
        height: 100vh;
    }

    .rightColumn{
        display: flex;
        flex-direction: column;
        width: 100vw;
        height: 50vh;
        min-height: fit-content;
        justify-content: flex-end;
        align-items: flex-start;
    }

    .leftColumn{
        width: 100vw;
    }

    .toolBar{
        flex-direction: column;
        width: 100%;
        justify-content: flex-end;
        height: 30vh;
        position:relative ;
    }
    .toolBarExpanded{
        width: 100%;
        height: 60vh;
    }

    .iconContainer{
        flex-direction: row;
        width: 100%;

    }

    .toolBarIcon {
        display: flex;
        justify-content: center;
        color: red; 
        display: block;
        font-size: 3em;
        color: black;
        flex: 1;
        text-align: center;
    }

    #hideToolBarButton{
        display: flex;
        order: 3;
    }

    
    .noteBook {
        position: absolute;
        bottom: 100%;
        left: 0;
        width: 100vw;
        height: 0;
        background-color: green;
        display: block;
        transition: height 1s ease-in-out, opacity 1s ease-in-out;
        opacity: 0;
    }
    
    .noteBookExpanded{
        height: 30vh;
        opacity: 1;
    }
    
    .inventory {
        position: absolute;
        bottom: 100%;
        left: 0;
        width: 100vw;
        height: 0;
        background-color: blue;
        display: block;
        transition: height 1s ease-in-out, opacity 1s ease-in-out;
        opacity: 0;
    }
    
    .inventoryExpanded{
        height: 38vw;
        opacity: 1;
    }
}

.noTransition{
    transition: none;
}