

.main{
    justify-content: center;
    background: url("../Images/BloodHand.jpg");
    position: relative;
    overflow-y: hidden;
    align-items: center;
    font-family: "merriweather", serif;
font-weight: 700;
font-style: normal;
    
}

.registration-form {
    padding: 30px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    min-width: 350px
    
    
    
}
.registration-form h2 {
    margin-bottom:20px;
    font-size: 30px
    
    
}
.registration-form form {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.registration-form label{
    
    margin-bottom: 5px;
    text-align:left;
    font-size: 20px;
    color: white;
    font-family: "merriweather", serif;
    font-weight: 700;
    font-style: normal;
}
.registration-form input {
    padding: 12px;
    font-size: 18px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family: "merriweather", serif;
    font-weight: 700;
    font-style: normal;
    background-color: black;
    color: white;
    width: 100%; 
    margin-bottom: 10px; 
}
.registration-form button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 20px;
    background-color: red;
    border: none;
    border-radius:10px;
    cursor:pointer;
    font-family: "merriweather", serif;
    font-weight: 700;
    font-style: normal;
}
.registration-form button:hover {
    background-color: darkred;
}

.password-container{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.password-container input{
    flex: 1;
    padding: 12px;
    font-size: 18px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family: "merriweather", serif;
    font-weight: 700;
    font-style: normal;
    background-color: black; 
    color: white; 
    width: 100%;
    margin-bottom: 10px;
    
}
.password-container button{
    /* position: relative;
    right: 10px;
    background: none;
    border: none;
    cursor: pointer */
    position: absolute;  
    right: 10px;  
    background: none;
    border: none;
    cursor: pointer;
    font-size: 18px;
    color: gray;
    padding: 12px 10px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    border-radius: 5px;

    
    
    
    
}
.password-container label{
    align-self: baseline;
    
}

#togglePassword{
    margin-left: auto;
    margin-right: auto;
}