/* Dylan's CSS for save Select */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 16px;
    font-family: 'merriweather', serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    color: white;
    overflow: hidden;
    background-image: url(../Images/outsideHouse.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center center;
}

#contentWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 12vh;
    height: 88vh;
    width: 100vw;
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-thumb{
    background-color: rgb(0, 68, 204);
    border-radius: 20px;
}

::-webkit-scrollbar-track{
    background-color: transparent;
}


.saveContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: rgba(10, 10, 40, 0.9);
    width: clamp(300px, 50vw, 500px);
    height: 85%;
    border-radius: 20px;
    border: 2px solid rgb(51, 51, 102);
    overflow: auto;
    box-sizing: border-box;
    padding: 10px 0 0 0;
}

#saveSlotWrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 10%;
    background-color: rgba(10, 10, 40, 0.9);
    width: 100%;
    height: 70%;
    overflow: auto;
    box-sizing: border-box;
    padding: 5% 0;
    border-top: 2px solid white;
}

h2{
    font-size: 3rem;
    text-align: center;
    height: 15%;
}

.saveSlot{
    background-color: rgb(34, 34, 68);
    width: 90%;
    height: 28%;
    border-radius: 20px;
    border: 2px solid transparent;
    display: flex;
    align-content: center;
    justify-content: space-evenly;
    transition: 0.3s;
    min-height: fit-content;
}

.saveSlot:hover{
    border: 2px solid white;
    transform: scale(1.05);
    transition: 0.3s;
}

.saveSlotBtn{
    background-color: transparent;
    text-decoration: none;
    font-size: clamp(2rem, 5vw, 3rem);
    color: white;
    border: 2px solid transparent;
    border-radius: 20px 0 0 20px;
    box-shadow: none;
    width: 85%;
    word-wrap: break-word;
    border-right: 2px solid white;
    font-family: inherit;
    display: flex;
    flex-direction: column;
    padding: 1% 0;
    justify-content: space-between;
    height: 9vh;
}

#saveName{
    font-size: 1.5rem;
    margin: 0;
}

.gameStat{
    font-size: 1rem;
}

.statRowWrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 3%;
}



@media (max-width: 480px){
    header{
        justify-content: space-between;
    }

    h2{
        font-size: 2rem;
    }

    .profile{
        right: 20vw;
        text-align: right;
    }

    .mainContentwrapper{
        top: 12%;
        height: 88%;
        justify-content: flex-start;
        gap: 15px;
    }

    .saveContainer{
        width: 100%;
        height: 75%;
    }
}

.btnMainMenu{
    min-width: 120px;
    background-color: rgb(0, 68, 204);
    color: white;
    text-decoration: none;
    font-size: 1rem;
    width: 13vw;
    height: 65%;
    border-radius: 20px;
    align-content: center;
    text-align: center;
}

.menuLinkWrapper {
    width: 100%;
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btnMainMenu:hover{
    background-color: rgb(0, 102, 255);
}

.deleteSaveBtn{
    width: 15%;
    height: 100%;
    font-size: 1.5rem;
    border-radius: 0 20px 20px 0;
    border: 2px solid transparent;
    background-color: transparent;
}

.deleteSaveIcon{
    height: 100%;
    width: 100%;
    font-size: inherit;
    color: red;
    transition:font-size 0.5s ease-in-out;
    border-radius: 0 20px 20px 0;               
}

.deleteSaveBtn:hover{
    font-size: 2rem;
}

.fa-solid::before{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}



.deletePopUp {
    display: none;
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 2rem;
}


.deletePopUpContent {
    background-color: rgb(10, 10, 40);
    border: 2px solid rgb(51, 51, 102);
    display: grid;
    padding: 2rem;
    border-radius: 1rem;
    text-align: center;
    width: 90%;
    max-width: 350px;
    max-height: fit-content;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

#confirmationMessage {
    font-size: 1.4rem;
    margin-bottom: 1.5rem;
}

.btn {
    padding: 0.8rem;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: bold;
    transition: 0.3s ease;
    width: 48%;
    background-color: #999;
}

.btn:hover{
    background-color: #777;
}

.buttons {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 0.8rem;
}