html{
    font-size: 16px;
    font-family: "merriweather", serif;
    color: white;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}




body {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background-image: url(../Images/outsideHouse.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center center;
}

.wrapper {
    position: absolute;
    top: 12vh;
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 88vh;
    justify-content: center;
    align-items: center;
}



.formContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.4rem;
    background: rgba(10, 10, 40, 0.9);
    border: 2px solid rgb(51, 51, 102);
    border-radius: 10px;
    width: 450px;
    height: 75vh;
    text-align: center;
    color: white;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
    position: relative;
    min-height: fit-content;
    flex-shrink: 0;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 0.4rem;
    border-radius: 10px;
    padding: 30px;
    width: 450px;
    height: 75vh;
    text-align: center;
    color: white;
    position: relative;
    
    flex-shrink: 0;
}


.sectionHeader {
    width: 100%;
    text-align: center;
    height: 10%;
    font-size: 1.7rem;
    font-weight: bold;
    color: #ffffff;
    text-transform: uppercase;
}


.inputContainer {
    width: 100%;
    margin-bottom: 1.2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}


form label {
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 6px;
    color: #ccccff;
}


#profileForm input {
    padding: 0.75rem;
    font-size: 1rem;
    border: 2px solid rgb(68, 68, 119);
    border-radius: 6px;
    background-color: rgb(34, 34, 68);
    color: white;
    width: 100%;
    transition: all 0.3s ease-in-out;
}

#profileForm input:focus {
    border-color: #6666ff;
    outline: none;
    box-shadow: 0 0 8px #6666ff;
}

.disabled {
    background-color: #0f0f1f;
}

.invalid {
    border: 2px solid rgb(221, 9, 9);
}


.password-container {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    align-items: flex-start;
}

.password-container input {
    padding-right: 28%;
}


.password-container button {
    width: 25%;
    position: absolute;
    right: 1.5px;
    top: 37%;
    background: rgb(0, 68, 204);
    border: none;
    border-radius: 0 5px 5px 0;
    padding: 0.75rem;
    cursor: pointer;
    font-size: 0.9rem;
    color: white;
    transition: background 0.3s ease-in-out;
    height: 61%;
    min-width: fit-content;


}

.password-container button:hover {
    background: rgb(0, 102, 255);
    transform: scale(1.05);
}


form button, #statsContainer button {
    padding: 12px 20px;
    font-size: 1.1rem;
    background-color: rgb(0, 68, 204);
    border: none;
    border-radius: 6px;
    cursor: pointer;
    color: white;
    font-weight: bold;
    transition: background 0.3s ease-in-out, transform 0.2s ease-in-out;
    vertical-align: middle;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: inherit;
}

form button:hover, #statsContainer button:hover {
    background-color: #0066ff;
    transform: scale(1.05);
}

#messageContainer {
    position: absolute;
    z-index: 10;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    height: 70%;
    background-color: rgba(10, 10, 40, 1);
    display: none;
    padding: 1rem;
    border-radius: 30px;
    flex-direction: column;
    align-items: center;
    border: 2px solid white;
    min-height: 70%;
    overflow-y: auto;
}

#messageContent {
    width: 90%;
    height: 70%;
    padding: 1rem;
}

li {
    margin-bottom: 1rem;
}

.closeBtn {
    width: 60%;
    border-radius: 6px;
    height: 10%;
    min-height: fit-content;
    min-width: fit-content;
    background-color: #0044cc;
}

.functionButtonContainer {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 10%;
}

.functionButton {
    width: fit-content;
}



.tabContainer {
    display: flex;
    width: 100%;
    height: 5vh;

}

.tab {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    background-color: rgba(10, 10, 40, 0.9);
    border: 4px solid transparent;
    box-shadow: none;
    font-size: 1.1rem;
    color: white;
}

#profileTab {
    border-radius: 10px 0 0 0;
    border-bottom: 4px solid rgb(0, 102, 255);
}



#statsTab{
    border-radius: 0 10px 0 0;
}

#preferencesForm {
    display: none;
   
}

#easyReadCheckBox{
    -webkit-appearance: none;
    position: relative;
    width: 50px;
    height: 30px;
    border-radius: 25px;
    background-color: lightgray;
    transition: background-color .3s;
    outline: none;
    margin:0 auto 0 auto
}

#easyReadCheckBox::after{
    content: '';
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%,-50%);
    border-radius: 50%;
    height: 1.25rem;
    width: 1.25rem;
    background-color: white;
    transition: left .3s;
}

#easyReadCheckBox:checked{
    background-color: green;
}

#easyReadCheckBox:checked::after{
    left: 70%;
}

.sampleTextContainer{
    width: 80%;
    height: 15%;
}

#easyReadCheckBox{
    -webkit-appearance: none;
    position: relative;
    width: 50px;
    height: 30px;
    border-radius: 25px;
    background-color: lightgray;
    transition: background-color .3s;
    outline: none;
}

#easyReadCheckBox::after{
    content: '';
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%,-50%);
    border-radius: 50%;
    height: 1.25rem;
    width: 1.25rem;
    background-color: white;
    transition: left .3s;
}

#easyReadCheckBox:checked{
    background-color: green;
}

#easyReadCheckBox:checked::after{
    left: 70%;
}


.slideContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 30%;
    gap: 20px;
}

#slider {
    -webkit-appearance: none;
    width: 50%;
    height: 15px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

#slider:hover {
    opacity: 1;
}

#slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: rgb(0, 102, 255);
    cursor: pointer;
}

#slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #04AA6D;
    cursor: pointer;
}





#statsContainer{
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 0.4rem;
    border-radius: 10px;
    padding: 30px;
    width: 450px;
    height: 75vh;
    text-align: center;
    color: white;
    position: relative;
    flex-shrink: 0;
}

.formContentContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    flex: 1;
    width: 100%;
    overflow-y: auto;
    
}



#timeContainer{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 20px;
    border-bottom: 2px solid white;
    padding: 20px;
    width: 100%;
}

#collectiblesContainer{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 20px;
    border-bottom: 2px solid white;
    padding: 20px;
    width: 100%;
}

#gameCountContainer{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 20px;
    border-bottom: 2px solid white;
    padding: 20px;
    width: 100%;
}

p{
    text-align: left;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

b{
    width: 50%;
}

span{
    width: 50%;
}


::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-thumb{
    background-color: rgb(0, 68, 204);
    border-radius: 20px;
}

::-webkit-scrollbar-track{
    background-color: transparent;
}






















/* Responsive design */
@media (max-width: 480px) {
    form {
        width: 100%;
        height: 90%;
    }

    .formContainer {
        width: 100%;
        min-height: 80vh;
    }

    #profileForm input {
        padding: 0.5rem;
    }


    .titleBanner {
        height: 10%;
    }

    .wrapper {
        width: 100%;
        height: 90%;
    }

    body {
        width: 100vw;
        height: 100vh;
    }


}



